<button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
</button>
<h4>Add a segment</h4>

<form [formGroup]="_service.form" class="normal-form" (ngSubmit)='onSubmit()'>
    <mat-grid-list cols="1" rowHeight="400px">
        <mat-grid-tile>
            <div class="controles-container">
               
                <mat-form-field appearance="outline">
                    <mat-label>Name*</mat-label>
                    <input formControlName="Name" matInput>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label><ngx-emoji [emoji]="selectedEmoji"> <span class="emoji-mart-emoji"></span></ngx-emoji></mat-label>
                    <mat-select>

                        <mat-option >
                            

                            <emoji-mart (emojiSelect)="select($event)"></emoji-mart>
                           
                        </mat-option>
                        
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5">
                    </textarea>
                </mat-form-field>
            </div>
        </mat-grid-tile>
       
    </mat-grid-list>
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <div class="button-row">
            <button mat-raised-button color="primary" type="submit">Save</button>
            <button mat-raised-button (click)="onCancel()">Cancel</button>
        </div>
    </mat-toolbar>
</form>