.sidebar{
    width: 250px;
    padding: 20px;
    height: auto;
}
h2{
    padding: 20px;
}
.sidebar a{
    text-decoration: none;
}
button{
    margin: 40px 20px 0 20px;
    color: #fff;
    padding: 0 30px;
}
.search-div{
    margin: 10px;
}
.search-form-field{
    width: 220px;
    margin: 0;
    padding: 0;
}